{% extends "_layout" %}

{% block content %}
    <div style="background-color: grey">
        {{entry.title}}
    </div>

    <div style="background-color: grey">
        {{entry.description}}
    </div>
{% endblock %}