{% extends "_layout" %}

{% block content %}

    {% for show in craft.entries.section('shows').limit(2).all()%}
        <div style="background-color: grey">
            <div>spotlight left</div>
            {{ show }}

        </div>
    {% endfor%}
    <div style="background-color: grey">
        {{entry.description}}
    </div>
{% endblock %}